APP_NAME="ScholarFlow AI"
GEMINI_API_KEY=""
FILE_ALLOWED_TYPES = ["text/plain", "application/pdf"]
FILE_MAX_SIZE_MB = 10
FILE_DEFAULT_CHUNK_SIZE = 512000 # 512 KB

MONGODB_URI=""
MONGODB_DB_NAME="AI-Agents"

POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD=""
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="scholarflow"

GROQ_API_KEY=""

VECTOR_DB_BACKEND_LITERAL = ["QDRANT", "PGVECTOR"]
VECTOR_DB_BACKEND="PGVECTOR"
VECTOR_DB_NAME=""
QDRANT_API_KEY=""
QDRANT_URL="your_cluster_endpoint_url"
VECTOR_DB_DISTANCE_METRIC="COSINE"
VECTOR_DB_PGVEC_INDEX_THRESHOLD =
TEST_SET_PATH = "C:/Users/start/OneDrive/Desktop/ScholarFlow AI/src/evaluation/testset/qa_pairs.json"
